---
parameters:
  resourcespace:
    api:
      url: ''
      username: ''
      key: ''
    search_query: 'publisher:TEST'

  qi:
    api:
      url: ''
      username: ''
      password: ''

  # Certificate Authority (also known as 'cacert') may not work on its own depending on your system and PHP configuration,
  # that's why a cacert.pem is included in this project (from https://curl.haxx.se/docs/caextract.html).
  # Set override_certificate_authority to 'true' when we need to specify our own cacert.pem (can be a relative path or an absolute system path).
  ssl_certificate_authority:
    override: false
    authority_file: ''
