---
parameters:
  test: true
  debug: true
  update: true
  ftp_folder: 'images/'
  ftp_user: ''
  ftp_group: ''
  only_online_records: true

  allowed_extensions:
    - gif
    - jpg
    - jpeg
    - png
    - tiff
    - tif

  allowed_filetypes:
    - TIFF

  file_sizes:
    - lpr
    - scr
    - hpr
    - pre
    - original

  forbidden_inventory_number_prefixes:
    # Tijdelijke Bruikleen
    - 'TB'

  forbidden_filename_postfixes:
    # WerkFoto
    - '_WF'

  credit:
    qi_field_prefix: 'credits'
    split_chars:
      - '©'
      - ':'
      - ','
      - '.'
      - '('
      - ')'
      - '/'
    languages:
      - en
      - fr
      - de
    translations:
      foto:
        en: photo
        fr: photo
        de: Foto
      Foto:
        en: Photo
        fr: Photo
        de: Foto

  resourcespace:
    api:
      url: ''
      username: ''
      key: ''
      max_field_value_length: 7500
    search_query: 'publisher:TEST'
    fields:
      linkwithcms: field152
      linkcms: field150
      originalfilename: field51
      filetype: field84
      inventorynumber: field105
      title: field8
      description: field91
      artworkcreator: field96
      artworkdate: field110
      keywords: field90
      rightsstatements: field146
      license: field102
      internalnote: field25
      copyrightowner: field99
      credit: field10
      externalnote: field120
    linkwithcmsvalues:
      - 'Yes'
      - ',Yes'
    full_data_fields:
      internalnote: field25
    # 'path', 'parent_path', 'key_path' and 'value_path' are JSON path expressions (see https://github.com/Galbar/JsonPath-PHP) used to parse the JSON data from Qi
    # There is no mapping by default, override by setting the 'mapping' property. Possible values for all properties:
    #   type:
    #     (default) - take the value(s) as obtained from Qi through the 'path' expression as-is. Multiple strings are concatenated by ','
    #     list - for each 'parent_path', execute a 'key_path' and 'value_path' expression to obtain key-value pairs, concatenated by '\n\n' (can be overwritten by changing 'concat') with the form '$key: $value' (can be overwritten by changing 'format'). Each element is separated by two newlines. An optional 'key_filter' can be applied to filter out only the keys from the 'key_path' that we want.
    #     date_range - requires a 'from_date_path' and 'to_date_path'. Concatenates the lowest from_date and the highest to_date (in YYYY/MM/DD,YYYY/MM/DD format). Unknown values are postfixed by the earliest possible date for from_date (000-01-01) and by the latest possible date for to_date (999-12-31).
    #   overwrite:
    #     (default) - overwrite any existing data in ResourceSpace
    #     no - do not overwrite any date in ResourceSpace if there is already data in this field in ResourceSpace
    #     merge - merge the Qi and ResourceSpace values together if the Qi value does not occur in the ResourceSpace field yet
    #   node_value:
    #     (default) - the value is not taken from a predefined list of options in ResourceSpace
    #     yes - the value is taken from a predefined list of options in ResourceSpace
    #   casing:
    #     (default) - do nothing, leave value as-is
    #     lowercase - lowercase everything
    #   mapping:
    #     (default) - do nothing, leave value as-is
    #     (defined list) - map the values from Qi to ResourceSpace (Qi value on the left, ResourceSpace value to the right). Qi values not mapped are not written to ResourceSpace.
    #  remove_commas:
    #    (default) - do not remove commas
    #    yes - remove commas in the results (before joining them together). Applies only to 'list' type
    import_mapping:
      title:
        path: "$.relationship.object_title[?(@.details.language_id_name == 'Nederlands' and @.details.object_title_type_id_name == 'Hoofdtitel' or @.details.language_id_name == 'Dutch' and @.details.object_title_type_id_name == 'Hoofdtitel')].name"
      description:
        type: list
        parent_path: "$.relationship.object_description[?(@.details.language_id_name == 'Nederlands' or @.details.language_id_name == 'Dutch')]"
        key_path: '$.details.object_description_type_id_name'
        value_path: '$.name'
        key_filter:
          - 'Algemene beschrijving'
          - 'Fysieke beschrijving'
          - 'Inhoudelijke beschrijving'
          - 'Presentatie (zaalttekst, uitgebreid identifcatielabel, audioguide, IPad)'
          - 'Publieksgerichte content'
      artworkcreator:
        type: list
        parent_path: "$.relationship.object_maker[*]"
        key_path: '$.details.actor_role_id_name'
        value_path: '$.name'
        concat: ','
        format: '$value ($key)'
        remove_commas: yes
        key_filter:
          - 'Graveur'
          - 'Illustrator'
          - 'Ontwerper'
          - 'Ontwerper-iconografie'
          - 'Toegeschreven aan'
          - 'Vervaardiger'
          - 'Vervaardigerbis'
      artworkdate:
        type: date_range
        from_date_path: "$.relationship.object_production[?(@.details.object_production_type_id_name == 'Vervaardiging')].details[date_from]"
        to_date_path: "$.relationship.object_production[?(@.details.object_production_type_id_name == 'Vervaardiging')].details[date_to]"
      keywords:
        path: "$.relationship.object_keyword[*].name"
        casing: lowercase
      rightsstatements:
        node_value: yes
        path: "$.ipr_status_value"
        mapping:
          Publiek domein: ''
          Geen auteursrechtelijke beperkingen bekend: 'No Known Copyright'
          Auteursrechtelijk beschermd: 'In Copyright'
          Auteursrechtelijk beschermd - Rechthebbende(n) niet-lokaliseerbaar of niet-identificeerbaar: 'In Copyright - Rights-holder(s) Unlocatable or Unidentifiable'
          Auteursrechtelijk beschermd - EU verweesd werk: 'Alle rechten voorbehouden - EU Orphan Work'
      license:
        node_value: yes
        path: "$.ipr_status_value"
        mapping:
          Publiek domein: 'Publiek domein'
          Geen auteursrechtelijke beperkingen bekend: 'Onbekend'
          Auteursrechtelijk beschermd: 'Alle rechten voorbehouden'
          Auteursrechtelijk beschermd - Rechthebbende(n) niet-lokaliseerbaar of niet-identificeerbaar: 'Alle rechten voorbehouden'
          Auteursrechtelijk beschermd - EU verweesd werk: 'Alle rechten voorbehouden'
      internalnote:
        overwrite: merge
        path: "$.rights_statement"

  qi:
    url: ''
    reindex_url: ''
    api:
      url: ''
      username: ''
      password: ''
    get_fields: 'object_number,ipr_status_value,rights_statement,internalnote,relationship,media.image.id,media.image.media_folder_id,media.image.original_filename,media.image.width,media.image.height,media.image.filesize,media.image.name,media.image.caption,media.image.credits,media.image.credits_en,media.image.credits_fr,media.image.credits_de,media.image.copyright,media.image.link_dams,media.image.filename,media.image.name,media.image.name_en,media.image.name_fr,media.image.name_de'
    import_mapping:
      caption: externalnote
      copyright: copyrightowner
    mapping_to_self:
      name: "$.relationship.object_title[?(@.details.language_id_name == 'Nederlands' and @.details.object_title_type_id_name == 'Hoofdtitel' or @.details.language_id_name == 'Dutch' and @.details.object_title_type_id_name == 'Hoofdtitel')].name"
      name_en: "$.relationship.object_title[?(@.details.language_id_name == 'Engels' and @.details.object_title_type_id_name == 'Hoofdtitel' or @.details.language_id_name == 'English' and @.details.object_title_type_id_name == 'Hoofdtitel')].name"
      name_fr: "$.relationship.object_title[?(@.details.language_id_name == 'Frans' and @.details.object_title_type_id_name == 'Hoofdtitel' or @.details.language_id_name == 'French' and @.details.object_title_type_id_name == 'Hoofdtitel')].name"
      name_de: "$.relationship.object_title[?(@.details.language_id_name == 'Duits' and @.details.object_title_type_id_name == 'Hoofdtitel' or @.details.language_id_name == 'German' and @.details.object_title_type_id_name == 'Hoofdtitel')].name"
    link_dams_prefix: 'https://museumstichting.resourcespace.com/?r='
    media_folder_id: '563'

  # Certificate Authority (also known as 'cacert') may not work on its own depending on your system and PHP configuration,
  # that's why a cacert.pem is included in this project (from https://curl.haxx.se/docs/caextract.html).
  # Set override_certificate_authority to 'true' when we need to specify our own cacert.pem (can be a relative path or an absolute system path).
  ssl_certificate_authority:
    override: false
    authority_file: '/path/to/cacert.pem'
